body
{
    background-color: black;
    margin: 0;
    color: white;
}

nav
{
    background-color: rgba(128, 128, 128, 0.212);
    width: 400px;
    height: 700px;
    float: left;
}

article
{
    background-color: rgba(0, 128, 0, 0.13);
    margin-left: 100px;
    margin-top: 100px;
    width: 800px;
    height: 800px;
    float: left;
}

.gameDivs
{
    width: 98px;
    height: 98px;
    border: green 1px solid;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
}

.bcChange:hover
{
    background-color: rgba(0, 128, 0, 0.342);
    cursor: pointer;
}

.alphabetNumbers
{
    text-align: right;
    padding-top: 20px;
    height: 80px;
    width: 100px;
    font-size: 50px;
    border: none;
    background-color: black;
}

.numNumbers
{
    text-align: center;
    padding-top: 0;
    height: 100px;
}